html {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;
}

body {
    margin: 0;
    padding: 0;
    height: 100%
}

#external-links {
    height: 18%;
    display: flex;
    justify-content: space-around;
    align-content: center;
    align-items: center;
    text-align: center;
    background-color: #242424;
    color: white;
    font-size: 2rem;
}

a {
    color: white;
}

a:hover {
    color: gray;
}

#introductions {
    padding-top: 1rem;
    background-color: #4d4d4d;
    display: flex;
    height: 82%;
    justify-content: center;
    color: white;
}

#ryan-intro {
    width: 45%;
    height: 90%;
    border: 4px solid black;
}

#jamaal-intro {
    width: 45%;
    height: 90%;
    border: 4px solid black;
}

.intro-flex {
    display: flex;
    justify-content: space-around;
}

.intro-flex p {
    width: 50%;
}

h2 {
    text-align: center;
}

h3 {
    text-align: center;
}